*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #E9ECEF ;
}

.jumbotron {
    background-color: #E9ECEF;
    text-align: center;
}

.btn {
    color: white;
    background-color: blue;
} 

.navbar {
    height: 8vh;
    width: 100%;
    background-color: #222222;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    width: 20%;
    box-shadow: 0spx 9px rgba(red, green, blue, alpha);
    border-radius: 6px;
    text-align: center;
} 
.container:hover {
    opacity: 0.7;
}

.card {
    padding: 4px 18px;
}

.products {
    text-align: center;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

h2 {
    cursor: pointer;
    transition: 0.8s;
    text-align: center;
}

a:hover {
    color: #C83520;
}

h2 {
    color: #C83520;
}

h3 {
    color: cornflowerblue;
    text-align: center;
}
ul {
    text-align: center;
}
 img {
    object-fit: contain;
 }

 section {
    color: #222222;
    text-align: center;
 }

 article {
    text-align: center;
 }

 h4 {
    color: cornflowerblue;
 }

button {
    color: white;
    background-color: black;
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}
button:hover {
    background-color: white;
    color: black;
}
